@model EntityDBFirstMVCProject.Models.Müsteriler
@{
    ViewBag.Title = "DetailCustomer";
    Layout = "~/Views/Shared/AdminWithoutGraphs.cshtml";
}

<h2>Müşteri Detay</h2>


@using (Html.BeginForm())
{
    <table class="table table-bordered">
        <tr>
            <th>Müşteri Adı</th>
            <th>Müşteri Şifre</th>
            <th>Müşteri Tel</th>
            <th>Müşteri Adresi</th>
            <th>Müşteri Rolü</th>
        </tr>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(x => x.MüsteriAdi)</td>
                <td>@Html.DisplayFor(x => x.MüsteriSifre)</td>
                <td>@Html.DisplayFor(x => x.MüsteriTel)</td>
                <td>@Html.DisplayFor(x => x.MüsteriAdresi)</td>
                <td>@Html.DisplayFor(x => x.Role)</td>
            </tr>
        </tbody>
    </table>
    <div class="form-horizontal">
        <br />
       
        @Html.ActionLink("Geri Dön", "List", null, new { @class = "btn btn-info" })
    </div>
}
