@model EntityDBFirstMVCProject.Models.Müsteriler
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/UserLogin/img/favicon.png" rel="icon">


    <link href="~/UserLogin/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/UserLogin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/UserLogin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/UserLogin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/UserLogin/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/UserLogin/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/UserLogin/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/UserLogin/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/UserLogin/css/style.css" rel="stylesheet">
    <link href="~/UserLogin/css/style.css" rel="stylesheet" />

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <style>
        #container {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(22,22,22,0.5);
        }



        .reveal-modal {
            border-radius: 30px;
            background: #dbdbdb;
            margin: 0 auto;
            width: 600px;
            position: relative;
            z-index: 41;
            top: 25%;
            padding: 30px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
            box-shadow: 0 0 10px #198754;
        }
    </style>
  
</head>

<body>
   

    @RenderBody()
    <main style="background-image: url('https://images.wallpaperscraft.com/image/single/motorcycle_bike_biker_738532_1920x1080.jpg'); ">
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="~/UserLogin/UserLogin" class="logo d-flex align-items-center w-auto">
                                    <img src="~/UserTemp/img/MotorMax (1).png" alt="">
                                    

                                    <br /> <span class="d-none d-lg-block">MotorMax</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Giriş Yap</h5>
                                        <br />
                                        <p class="text-center small">Kullanıcı Adınızı & Şifrenizi Giriniz</p>
                                    </div>
                                    @if (@ViewBag.mesaj != null)
                                    {
                                        <div id="container">
                                            <div id="exampleModal" class="reveal-modal">
                                                <h2>Giriş Başarısız</h2>
                                                <p>
                                                    <font size="4">
                                                        Kullanıcı Adı veya Şifreniz Hatalı
                                                    </font>
                                                </p>
                                                <a href="@Url.Action("UserLogin", "UserLogin", new { @class = "btn btn-danger" })" class="close-reveal-modal">Kapat</a>
                                            </div>
                                        </div>
                                    }





                                    @using (Html.BeginForm("UserLogin", "UserLogin", FormMethod.Post))
                                    {
                                        <form class="row g-3 needs-validation" novalidate>

                                            <div class="col-12">
                                                <label for="yourUsername" class="form-label">Kullanıcı Adı</label>
                                                <div class="input-group has-validation">

                                                    @Html.TextBoxFor(x => x.MüsteriAdi, new { @class = "form-control", @id = "yourUsername", @required = "required", placeholder = "örnek@mail.com" })

                                                    <div class="invalid-feedback">Lütfen Kullanıcı Adı Giriniz </div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="yourPassword" class="form-label">Şifre</label>
                                                @Html.TextBoxFor(x => x.MüsteriSifre, new { @class = "form-control", @id = "yourPassword", @required = "required" })

                                                <div class="invalid-feedback">Please enter your password!</div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                                    <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100" type="submit">Giriş Yap</button>
                                            </div>
                                            <div class="col-12">
                                                <p class="small mb-0">Hesabınız Yok mu ?<a href="~/UserLogin/pages-register.html">Hesap Oluştur</a></p>
                                            </div>
                                        </form>
                                    }


                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/UserLogin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/UserLogin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/UserLogin/vendor/chart.js/chart.umd.js"></script>
    <script src="~/UserLogin/vendor/echarts/echarts.min.js"></script>
    <script src="~/UserLogin/vendor/quill/quill.min.js"></script>
    <script src="~/UserLogin/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/UserLogin/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/UserLogin/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/UserLogin/js/main.js"></script>

</body>

</html>